<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j//DTD//EN" "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration>

    <appender name="MojoLogAppender" class="org.mojo.javascriptframework.mavenutils.logging.MojoLogAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="(%F:%L) %m" />
        </layout>
    </appender>

    <root>
        <level value="debug" />
        <appender-ref ref="MojoLogAppender" />
    </root>

</log4j:configuration>